<!DOCTYPE html>
<html>
<head>
	<title>Books Home</title>
		{% load staticfiles %}
	<link rel="stylesheet"	href="{% static 'belt_app/style.css' %}">
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<h3>Welcome {{request.session.user}}</h3>
		<a href="{% url 'my_log_out' %}">Logout</a>
		<a href="{% url 'my_add' %}">Add Book And Review</a>
	</header>
	<main>
		<h2>Recent Book Reviews:</h2>
			{% for review in reviews %}
				<div class="book">
					<a href="{% url 'book_profile' id=review.book_reviewed.id %}">{{review.book_reviewed.title}}</a>
					<p>Rating: <span>{{review.stars}}</span></p>
					<p><a href="{% url 'user_profile' id=review.reviewer.id%}">{{review.reviewer.alias}}</a> says: {{review.content}}</p>
					<p>Posted on {{review.created_at}}</p>
				</div>
			{% endfor %}
	</main>
	<aside>
		<h2>Other Books with Reviews:</h2>
		<div id="bookScroll">
			{% for book in books %}
				<p><a href="{% url 'book_profile' id=book.id %}">{{book.title}}</a></p>
			{% endfor %}
		</div>
	</aside>

</body>
</html>