<!DOCTYPE html>
<html>
<head>
	<title>Belt Reviewer</title>
		{% load staticfiles %}
	<link rel="stylesheet"	href="{% static 'belt_app/style.css' %}">
</head>
<body>
	{% if messages %}
		{% for message in messages %}
		<li>{{message}}</li>
		{% endfor %}
	{% endif %}
	<form action="/register" method="post">
		{% csrf_token %}
		<fieldset id="Reg">
			<legend>Registration</legend>
			<label>Name:</label>
			<input type="text" name="full_name"> <br>
			<label>Alias:</label>
			<input type="text" name="alias"> <br>
			<label>Email:</label>
			<input type="text" name="email"> <br>
			<label>Password:</label>
			<input type="text" name="password"> <br>
			<p>*Password should be at least 8 characters</p>
			<label>Confirm Password:</label>
			<input type="text" name="passconf"> <br>
			<input type="submit" value="Register">
		</fieldset>
	</form>
	<form action="/login" method="post" id="log_form">
		{% csrf_token %}
		<fieldset id="Log">
			<legend>Login</legend>
			<label>Email:</label>
			<input type="text" name="email"> <br>
			<label>Password:</label>
			<input type="text" name="password"> <br>
			<input type="submit" value="Login">
		</fieldset>
	</form>
</body>
</html>