<!DOCTYPE html>
<html>
<head>
	<title>Books Home</title>
		{% load staticfiles %}
	<link rel="stylesheet"	href="{% static 'belt_app/style.css' %}">
</head>
<body>
	<header>
		<a href="{% url 'my_log_out' %}">Logout</a>
		<a href="{% url 'my_add' %}">Add Book And Review</a>
		<a href="{% url 'my_books' %}">Home</a>
	</header>
	<main>
		<h1>User Alias: {{pro_user.alias}}</h1>
		<p>Name: {{pro_user.full_name}}</p>
		<p>Email: {{pro_user.email}}</p>
		<p>Total Reviews: {{user_reviews.count}}</p>

		<h2>Posted Reviews on the following books:</h2>
		{% for review in user_reviews %}
			<p><a href="{% url 'book_profile' id=review.book_reviewed.id %}" class="reviewed_books">{{review.book_reviewed.title}}</a></p>
		{% endfor %}
	</main>
	

</body>
</html>