#info, #container{
	width: 400px;
	margin: 0 auto;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

#count {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: lightgreen;
	border-radius: 10px;
	color: white;
	text-align: center;
	padding: 2px;
}

#info .question {
	text-align: left;
	display: inline-block;
}

#info .answer{
	float: right;
	display: inline-block;

}

body {
	background-color: lightblue;
}