<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
	<style type="text/css">
		span {
			font-weight: bolder;
		}
	</style>
</head>
<body>
	<p id="greeting">Hello, {{request.session.user}}</p>
	<form action="/log_out" method="post">
		{% csrf_token %}
		<input type="submit" value="Log Out">
	</form>
	<form action="/post" method="post">
		{% csrf_token %}
		<textarea type='text' name="secret" cols="50" rows="7" maxlength="120" placeholder="Your secret here..." style="resize:none"></textarea><br>
		<input type="submit" value="Post">
		<a href="{% url 'pop'%}">Most Popular Secrets</a>
	</form>

	<h1>Recent Secrets...</h1>

		{% for item in secret_list %}
			{% if item.creator.id == request.session.user_id %}
				<p><em>{{item.secret}}</em> Time since posted: {{item.elapsed_time}} Likes 	{{item.total_likes}} <span>You posted this</span> <a href="{% url 'dell' id=item.id %}">delete</a></p>
			{% elif this_user in item.likes.all %}
				<p><em>{{item.secret}}</em> Time since posted: {{item.elapsed_time}} Likes 	{{item.total_likes}} <span>You already liked this</span></p>
			{% else %}
				<p><em>{{item.secret}}</em> Time since posted: {{item.elapsed_time}} Likes 	{{item.total_likes}} <a href="http://localhost:8000/like/{{item.id}}/{{request.session.user_id}}">Like</a></p>
			{% endif%}

		{% endfor %}

</body>
</html>