<!DOCTYPE html>
<html>
<head>
	<title>My Portfolio</title>
</head>
<body>
	<h1>Hi, I'm Bill</h1>
	<h2>Welcome to My Porfolio</h2>
	<a href="http://localhost:8000/projects">Projects</a>
	<div>
		<p>I have a variety of projects both personal and contract. They are built using Python, Swift, and JavaScript</p>
	</div>

	<a href="http://localhost:8000/about">About Me</a>
	<div>
		<p>A little about my background and why I do what I do.</p>
	</div>

	<a href="http://localhost:8000/testimonials">Testimonials</a>
	<div>
		<p>What my clients and mentors have to say about my projects and work ethic.</p>
	</div>

</body>
</html>