<!DOCTYPE html>
<html>
<head>
	<title>My Clients</title>
</head>
<body>
	{% if messages %}
		{% for message in messages %}
		<li>{{message}}</li>
		{% endfor %}
	{% endif %}
	<h1>Add Client</h1>
	<form action="/adding_clie" method="post">
		{% csrf_token %}
		<label>Business name:</label>
		<input type="text" name="business"> <br>
		<label>email:</label>
		<input type="email" name="email"> <br>
		<label>phone:</label>
		<input type="text" name="phone" placeholder="XXX-XXX-XXXX"> <br>
		<label>Notes:</label> <br>
		<textarea cols="70" rows="8" name="notes"></textarea> <br>
		<button><a href="{% url 'home' %}">Cancel</a></button>
		<input type="submit" value="Add">
	</form>

</body>
</html>