<!DOCTYPE html>
<html>
<head>
	<title>My Clients</title>
</head>
<body>
	<h1>Add Project</h1>
	{% if messages %}
		{% for message in messages %}
		<li>{{message}}</li>
		{% endfor %}
	{% endif %}
	<form action="/adding_proj/{{proj_client.id}}" method="post">
		{% csrf_token %}
		<label>Project name:</label> <br>
		<input type="text" name="project_name"> <br>
		<label>Notes:</label> <br>
		<textarea cols="70" rows="8" name="notes"></textarea> <br>
		<button><a href="{% url 'client_pro' id=proj_client.id %}">Cancel</a></button>
		<input type="submit" value="Add Project">
	</form>

</body>
</html>