<!DOCTYPE html>
<html>
<head>
	<title>My Clients</title>
</head>
<body>
	<h1>{{client.business_name}}</h1>
	<h4>Projects:</h4>
	<ul>
		{% for proj in project_list %}
			<li><a href="{% url 'project_pro' id=proj.id%}">{{proj.project_name}}</a></li>
		{% endfor %}
	</ul>
	<h4>Contact:</h4>
	<ul>
		<li>email: <a href="#">{{client.email}}</a></li>
		<li>phone: <a href="#">{{client.phone}}</a></li>
	</ul>

	<h4>Notes:</h4>
	<p>{{client.client_notes}}</p>
	<footer>
		<button><a href="{% url 'home' %}">Back</a></button>
		<button><a href="{% url 'add_pro' id=client.id %}">Add Project</a></button>
	</footer>

</body>
</html>